*{
    margin: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: "Roboto regular";
    src: url("../fonts/Roboto-Regular.ttf");
}

@font-face {
    font-family: "Roboto Bold";
    src: url("../fonts/Roboto-Bold.ttf");
}

html {
    height: 100%;
}

body {
    min-height: 100vh;
    color: hsl(234, 29%, 20%);
    font-size: 16px;
    font-family: "Roboto regular";
    position: relative;
}

main {
    padding: 9.3rem 1.5rem 2rem;
}

h1 {
    padding: 2.2rem 3rem 1.5rem 0;
    font-size: 2.48rem;
    line-height: 2.5rem;
    letter-spacing: -0.7px;
    font-family: "Roboto Bold";
}

p {
    font-size: 1rem;
    line-height: 1.50rem;
}

b {
    font-family: "Roboto Bold";
    letter-spacing: -0.4px;
}

button {
    margin-top: 16.6rem;
    height: 3.5rem;
    width: 100%;
    font-size: 1rem;
    font-family: "Roboto Bold";
    border: none;
    border-radius: 10px;
    background-color: hsl(234, 29%, 20%);
    color: rgba(255, 255, 255, 0.839);
}

footer {
    font-size: 0.8rem;
    text-align: center; 
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
}

@media (min-width: 768px) {

    body {
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: hsl(235, 18%, 26%);
    }

    main {
        width: 31.5rem;
        background-color: white;
        padding: 3.9rem 4rem;
        border-radius: 40px;
        position: relative;
    }

    img {
        position: relative;
        bottom: 1rem;
    }

    h1 {
        padding: 1rem 3rem 1.5rem 0;
        font-size: 3.48rem;
        line-height: 3.5rem;
    }

    button {
        margin-top: 3rem;
        cursor: pointer;
    }

    button:hover {
        background-image: linear-gradient(to left, hsl(20, 100%, 57%), hsl(337, 100%, 67%));
    }

    footer {
        color: white;
    }

    footer a {
        color: hsl(4, 100%, 67%);
    }
}
